<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="caeb9e">  <td>19/03/03 17:30:35</td>   <td>0</td> <td title="&gt;&gt;SeleniumBase.beforeSuite()[pri:0, instance:testCases.TCGetVendorName@1213b92]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/03/03 17:30:36</td>   <td>774</td> <td>&nbsp;</td><td title="&gt;&gt;TCGetVendorName.setData()[pri:0, instance:testCases.TCGetVendorName@1213b92]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/03/03 17:30:36</td>   <td>788</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumBase.beforeClass()[pri:0, instance:testCases.TCGetVendorName@1213b92]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/03/03 17:30:36</td>   <td>809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumBase.beforeMethod()[pri:0, instance:testCases.TCGetVendorName@1213b92]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/03/03 17:30:36</td>   <td>820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TCGetVendorName.searchVendorName()[pri:0, instance:testCases.TCGetVendorName@1213b92]">searchVendorName</td> 
  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/03/03 17:30:51</td>   <td>15711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumBase.closeApp()[pri:0, instance:testCases.TCGetVendorName@1213b92]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/03/03 17:30:51</td>   <td>15745</td> <td title="&lt;&lt;SeleniumBase.afterSuite()[pri:0, instance:testCases.TCGetVendorName@1213b92]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@5905257</td>   <td></td> </tr>
</table>
